aws_region  = "us-east-1"
environment = "prod"
project_name = "agenticcreed"

cluster_name              = "agenticcreed-prod-ecs"
enable_container_insights = true

repository_name        = "agenticcreed-prod-ecr"
image_tag_mutability   = "IMMUTABLE"
scan_on_push           = true
